    // Navigation Bar
    .wrapperOne{
        display: flex;
        justify-content: space-between;
    
        ul{
            display:flex;  
            list-style-type:none;  
            text-align: center; 
        }  
    }
    a{
        text-decoration: none;
        padding: 10px 20px;
    }

    nav a:hover, nav a:focus{
        border: 1px solid grey;
        //border: 0 0 1px 0;
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }


    .logo{
        margin: 20px 0 0 30px;
    }

    .cartIcon{
        margin: 20px 35px 0 0;
        position: relative;
    }
    .cartIconSup{
        position: absolute;
        top: 5px;
        vertical-align: top;
    }
    
     .burger {
         display: none;
        position: absolute;
        top: 15px;
        cursor: pointer;
  }
 

    .burger div{
            width: 25px;
            height: 2px;
            background-color : rgb(100, 100, 100);
            margin: 5px;
        }
        






