        @use './setup';
        @use './nav';
        @use './media';

        $myFont : 'Poppins', sans-serif;
        $baseFont: 'Josefin Sans', sans-serif;
        $bottomFont:'Barlow', sans-serif;
        $upFont:'Offside', cursive;
        $color-primary:white;
        $color-secondary:lightgrey;


        // Header section style
        header{
            background: url(./../project-1-store-novas/novas-project/assets/home.jpg);
            background-repeat: no-repeat;
            height:94vh;
            background-size: cover;
            padding-top:10px; 
            position: relative;
            background-position: center;
        }
        .headerContainer {
            position: absolute;
            top: 15%;
            left: 15%;
        }

        h1{
                    text-align: left;
                    // width: 263px;
                    font-weight: 500;
                    // margin: 178px 0 0 100px;
                    font-family: $baseFont;
                    font-family: $myFont ;
                    margin: 0;
            }   
        header p{
                // margin: 35px 180px 0 90px;
                font-family: $baseFont;
                font-family: $myFont;
                line-height :1.5em;
                margin: 0;
                padding-top: 20px;
        }
    

        //  First Image Section
        .imageSection ul{
            display: flex;
            list-style-type:none; 
            flex-direction: row; 
            gap:10px;

            li{
                // border:1px solid red;
                width: 100%;
                margin: 10px;
            
                img{
                    width: 100%;
                    height:auto;
                object-fit: cover;         
                }
            }
        }
        .wrapper{
            max-width: 1080px;
            width: 85%;
            margin: 0 auto;
        }
        .thirdImage{
            transform:translateY(20px);
        }

        .secondImageImage{
            transform:translateY(-20px);
        }
        .firstImage{
            transform:translateY(20px);
        }
        .positionOne,
        .positionTwo,
        .positionThree{
            position: relative;
            bottom: 31px;
            background: $color-primary;
            display: inline-block;
        }


        //  Featured Sale Section  
        h2{
            text-align: center;
            padding-top:40px;
            font-family: $myFont;
            font-size: 30px;
        }

        .shoppingGalleryOne {
            --current-slide: 0;
            /* we set position relative so absolute position works properly for the buttons */
            position: relative;
            overflow: hidden;
            max-height: 50vh;
          }

          .carousel-button {
            /* vertically centering the buttons */
            position: absolute;
            top: 50%;
            //transform: translateY(-50%);
            z-index: 1;
          
            /* basic styling */
            padding: 0;
            margin: 0.5rem;
            border-radius: 50%;
            background-color :#d7b89c;
            border:#668;
            font-size: 1.5rem;
            cursor: pointer;
            transition: color 0.1s;
          }
          
          .carousel-button:hover {
            color: rgba(0, 0, 0, 0.5);
            background-color: #88cce2;
          }
          
          .carousel-button_next {
            /* The "next slide button" will be at the right */
            right: 0;
          }
          
          .productSlides {
            display: flex;
            max-width: 100%;
            max-height: 100%;
            transition: transform 0.5s;
            transform: translateX(calc(-100% * var(--current-slide)));
          }
          
          .productSlide {
            flex: 0 0 100%;
            max-width: 50%;
            text-align: center;
                
               img{
                    width:50%;
               }

          }
          


        /*.shoppingGalleryOne{
            display:flex;
            gap:8px;
            
            img{
                    width: 100%;
                    height:auto;
                    object-fit: cover; 
                }
        }*/


        /*.shoppingGalleryTwo{
            display:flex;
            gap: 8px;
            padding-top:20px;
            
            img{
                width: 100%;
                height:auto;
                object-fit: cover; 
            }
        }*/

        /*.product{
            position: relative;
        }*/

        .cart{
            width: 30px;
            position: relative;
            border : 0.5px solid  $color-secondary;
            height :30px; 
            bottom:40px; 
            left :480px;
           
               img{
                width: 28px;
               }
        }
        .secondSection .seeAll{
            border : 1px solid   $color-secondary;
            display: inline-block;
            padding: 15px 10px 15px 10px;
            margin:20px 45% 50px 45%;
            font-family:$myFont;
        }

        .selling{
            display: inline-block;
            background: #eba6aa;
        }
        .latest{
            display: inline-block;
            background: #88cce2 ;
        }
        // .direction{
        //     text-align: center;
        // }
        // .direction button{
        //     font-family: cursive;
        //     font-weight: bold;
        //     border:none;
        //     width:50px;
        //     height: 50px;
        //     border-radius: 50%;
        //     transition: 0.5s;
        //     margin: 0 10px;
        // }
        // .direction button:hover{
        //     background-color: #ffffff;
        // }

        // Couch/sofa Section
        .couch{
            display: flex;
            text-align: center;
            // position: relative;
            
            .firstCouch{
                max-width:34%;
                
                // position: absolute;
                
                img {
                    width: 100%;
                } 
            }
            .secondCouch{
                width:70%;
                // padding-right: 120px;
                // position: absolute;

                img {
                    width: 100%;
                    // height: 392px;
                }
            }
        }
        .sale{
            background: #d7b89c;
            display: inline-block;
            // position: relative;
            // bottom: 200px;
            color:  $color-primary;  
            font-family:  $bottomFont;
            font-family: $upFont;
            font-family: $myFont;
        }
        .eliasCouch{
            color: $color-primary;
            position: relative;
            bottom:360px;
            border : 1px solid  $color-primary;
            display: inline-block;
            padding: 20px;
            font-family:  $bottomFont;
            font-family: $upFont;
            font-family: $myFont;
        }

        // instagramShop

        .instagramShop{
            color: #666;
            text-align: center;
            font-family: $myFont;
            padding: -5px 0 30px 0;
        }
        .instagram{
            display: flex;
            padding-bottom: 20px;
        
            .instaGallery{
                width: 25%;
            }
            
            img{
                width: 100%;
                height: auto;
                padding: 10px;
            }
        }
        .instagram .instaGallery:hover img{
              transform : scale(1.1);
        }
        .popupImage{
            position: fixed;
            top: 0;
            left :0;
            background: grey;
            height :100%;
            width:100%;
            z-index: 100;
            display: none;
        }
        .popupImage span{
            position: absolute;
            top : 0;
            right : 10px;
            font-size: 40px;
            font-weight: bolder;
            color:#fff;
            cursor: pointer;
            z-index: 100;
        }
        .popupImage img{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            border:5px solid #fff;
            border-radius: 5px;
            width: 750px;
            object-fit: cover;
        }


        //  Footer section

        .footerTop{
            display: flex;
            padding:50px 0;
            justify-content: space-between;
            
            .footerBrand{
                width: 245px;
            }
        }

        .footerImage{
            width: 6%; 
            height: 37px;
            margin-right: 3px;   
        }

        .footerImg{
            width: 20px;
            height: 16px;   
        }

        .footerList{
            list-style-type: none;
        }

        .contact ul,
        .profile ul{
            padding: 0;
        }
        .aboutCompany{
            padding-right: 10px;
        }
        .footerIcons a{
            padding: 0;
            padding-right: 10px;
        }
        h3{
            margin-top: 0;
        }

        // Contact Section Style
        .contactHeader {
            background: url(./../project-1-store-novas/novas-project/assets/contact-us.jpg);
            height: 70vh;
            padding: 158px 0px 0px 145px;
            background-position: center;
            }
        
        .container{
            flex-direction: column;
            width: 60%;
            align-items: center;
            padding: 20px 20px 20px 20%;
        }

        input[type=text], textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            //border: 0 0 1px 0;
            border-top-style: hidden;
            border-left-style: hidden;
            border-right-style: hidden;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        .error-hint{
                color:red;
               
        }
        .hidden{
        display: none;
        }
        button[type=submit] {
            background-color: #04AA6D;
            color: $color-primary;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }