html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapperOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapperOne ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover, nav a:focus {
  border: 1px solid grey;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

.logo {
  margin: 20px 0 0 30px;
}

.cartIcon {
  margin: 20px 35px 0 0;
}

.hamMenu {
  display: none;
}

#menu-toggle {
  display: none;
}

@media (max-width: 700px) {
  .hamMenu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle:checked ~ .menu {
    max-height: 100%;
  }
  h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate(-118%, -75%);
            transform: translate(-118%, -75%);
  }
  p {
    width: 70%;
    -webkit-transform: translate(-78%, -50%);
            transform: translate(-78%, -50%);
  }
  header {
    max-height: 416px;
    background-position-x: 50%;
  }
}
@media (max-width: 600px) {
  header {
    max-height: 500px;
  }
  .firstSection, .secondSection {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    max-width: 100%;
  }
  .shoppingGalleryOne, .shoppingGalleryTwo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 50%;
  }
  .seeAll {
    width: 17%;
  }
  .couch {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .firstCouch {
    -ms-flex-preferred-size: 73%;
        flex-basis: 73%;
    -webkit-transform: translateX(24%);
            transform: translateX(24%);
  }
  .secondCouch {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-transform: translateX(17%);
            transform: translateX(17%);
  }
}
header {
  background: url(./../project-1-store-novas/novas-project/assets/home.jpg);
  background-repeat: no-repeat;
  height: 94vh;
  background-size: cover;
  padding-top: 10px;
}

h1 {
  text-align: left;
  width: 263px;
  font-weight: 500;
  margin: 178px 0 0 329px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

header p {
  margin: 35px 180px 0 329px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  line-height: 1.5em;
}

.imageSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.imageSection ul li {
  width: 100%;
  margin: 10px;
}
.imageSection ul li img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0 auto;
}

.thirdImage {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.secondImageImage {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.firstImage {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.positionOne,
.positionTwo,
.positionThree {
  position: relative;
  bottom: 31px;
  background: white;
  display: inline-block;
}

h2 {
  text-align: center;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.shoppingGalleryOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.shoppingGalleryOne img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.shoppingGalleryTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  padding-top: 20px;
}
.shoppingGalleryTwo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.product {
  position: relative;
}

.cart {
  width: 30px;
  position: absolute;
  border: 0.5px solid lightgrey;
  height: 30px;
  bottom: 10px;
  right: 10px;
}

.secondSection .seeAll {
  border: 1px solid lightgrey;
  display: inline-block;
  padding: 15px 10px 15px 10px;
  margin: 20px 45% 50px 45%;
  font-family: "Poppins", sans-serif;
}

.couch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.couch .firstCouch {
  width: 30%;
  padding: 0 30px 0 30px;
}
.couch .firstCouch img {
  width: 100%;
}
.couch .secondCouch {
  width: 70%;
  padding-right: 120px;
}
.couch .secondCouch img {
  width: 100%;
  height: 392px;
}

.sale {
  background: #d7b89c;
  display: inline-block;
  position: relative;
  bottom: 200px;
  color: white;
  font-family: "Barlow", sans-serif;
  font-family: "Offside", cursive;
  font-family: "Poppins", sans-serif;
}

.eliasCouch {
  color: white;
  position: relative;
  bottom: 360px;
  border: 1px solid white;
  display: inline-block;
  padding: 20px;
  font-family: "Barlow", sans-serif;
  font-family: "Offside", cursive;
  font-family: "Poppins", sans-serif;
}

.instagramShop {
  color: #666;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: -5px 0 30px 0;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
.instagram .instaGallery {
  width: 25%;
}
.instagram img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerTop .footerBrand {
  width: 245px;
}

.footerImage {
  width: 6%;
  height: 37px;
}

.footerImg {
  width: 20px;
  height: 16px;
}

.footerList {
  list-style-type: none;
}

.contact ul,
.profile ul {
  padding: 0;
}

.aboutCompany {
  padding-right: 10px;
}

.footerIcons a {
  padding: 0;
  padding-right: 10px;
}

h3 {
  margin-top: 0;
}

.contactHeader {
  background: url(./../project-1-store-novas/novas-project/assets/contact-us.jpg);
  height: 70vh;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 20px 20%;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}